.contenedorBarrafootF {
  margin-top: auto;
  position: relative;
  bottom: 0;
  font-family: 'Georgia';
}
.barrafootF {
  background-color: #268fd9;
  color: white;
  font-size: 1em;
  position: relative;
  bottom: 0;
  width: 100%;
}
.footIconTableF {
  width: 70%;
  margin: 0px auto;
  table-layout: fixed;
}
.footItemTableF {
  width: 70%;
  margin: 0px auto;
  table-layout: fixed;
}
.footTitle {
  font-size: 1.2em;
}
.footLink {
  color: white;
  font-size: 0.9em;
  text-decoration: none;
  /* no underline */
}
.footLink:hover {
  color: white;
  text-decoration: none;
  /* no underline */
}

.footitemF {
  padding: 1em;
  vertical-align: top;
}
.footiconF {
  padding: 1em;
  color: #005795;
  font-size: 2em;
  text-align: center;
}
.footiconF:hover {
  color: white;
}
.footInfo {
  background: #3a3a3a;
  margin-top: 3em;
  padding: 2em;
  padding-bottom: 3.5em;
}
.footInfoTable {
  font-size: 1em;
  color: white;
  width: 100%;
  margin: 0px auto;
  table-layout: fixed;
}
.footLinea1F {
  box-shadow: 0px 50px 30px -50px #005795, 0px -50px 30px -50px #005795;
  margin: 0 auto;
  padding: 1px;
  width: 70%;
  margin-top: 1em;
  margin-bottom: 1em;
}
@media screen and (max-width: 768px) {
  .footLinea1F {
    width: 85%;
  }
}
@media screen and (max-width: 320px) {
  .footLinkList {
    display: table;
    margin: 0 auto;
    list-style-type: none;
  }
}
@media screen and (max-width: 375px) {
  .footLinkList {
    display: table;
    margin: 0 auto;
    list-style-type: none;
  }
}
.infoDerecha {
  text-align: right;
}
.HuellaPersonal {
  font-size: 1.1rem;
  text-align: center;
}
